# Karma, Istanbul
/coverage
!/coverage/.gitkeep

# IDEs
/.idea # Phpstorm files have nothing to do with this source code

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
